@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0B0F19;
}

::-webkit-scrollbar-thumb {
  background: #2A3447;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

/* Base Styles */
body {
  background-color: #0B0F19;
  color: #E2E8F0;
}