[build]
command = "npm run build"
publish = "dist"
functions = "functions"

[build.environment]
NODE_ENV = "production"
NODE_OPTIONS = "--max-old-space-size=4096 --optimize-for-size"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
